.cardbody {
  background-color: #f8f1e5;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardtitle {
  font-size: 1.3rem;
  font-weight: bold;
  color: #5a4632;
}

.cardtext {
  font-size: 1.2rem;
  color: #7a5c47;
}

.btn-coffee {
  background-color: #d2a679;
  border-color: #b3834f;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-coffee:hover {
  background-color: #b3834f;
  border-color: #8c6841;
}

.input-group {
  max-width: 300px;
}

.badge-dark {
  background-color: #d2a679;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 20px;
}

.modal-content {
  border-radius: 10px;
  background-color: #f8f1e5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.modal-header, .modal-footer {
  background-color: #d2a679;
  color: white;
}

.modal-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.badge-primary {
  background-color: #d2a679;
  color: white;
}

.list-group-item {
  background-color: #f8f1e5;
  border: none;
  color: #5a4632;
  font-weight: bold;
}

.list-group-item .badge {
  background-color: #b3834f;
}
