.navbar {
  padding: 10px 20px; /* Adjust padding as needed */
}

.navbar-brand {
  margin-right: 15px; /* Adjust margin as needed */
}

.nav-link {
  margin: 0 10px; /* Adjust margin as needed */
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.link-bg:hover{
  background-color: #b3834f;
}